<!DOCTYPE html>
<html lang = "en">

	<head>
		<meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<title><%= dbName %> DB</title>
 		<link rel="shortcut icon" href="public/assets/film.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<div>
			<% if (errors) { %>
				<% for (let i = 0; i < errors.length; i++) { %>
					<div class="container">
						<div class="alert alert-danger"><%= errors[i].msg %></div>
					</div>
				<% } %>
			<% } %>
		</div>
		<div class="container">
			<form method="post" action="/<%= table %>/save" align="center">
				<div class="form-group">
					<label for="exampleFormControlInput2"><%= columnsAlt[1] %>:</label>
					<select name="<%= columns[1] %>" class="form-control" id="exampleFormControlSelect1">
						<% for (let i = 0; i < seriesInfo.length; i++) { %>
							<% if (rows && seriesInfo[i].id === rows[0].id_series) { %>
								<option selected value="<%= seriesInfo[i].id %>"><%= `${seriesInfo[i].id} (${seriesInfo[i].title})` %></option>
							<% } else { %>
								<option value="<%= seriesInfo[i].id %>"><%= `${seriesInfo[i].id} (${seriesInfo[i].title})` %></option>
							<% } %>
						<% } %>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect2"><%= columnsAlt[3] %>:</label>
					<select name="<%= columns[2] %>" class="form-control" id="exampleFormControlSelect2">
						<% for (let i = 0; i < actorsInfo.length; i++) { %>
							<% if (rows && actorsInfo[i].id === rows[0].id_actors) { %>
								<option selected value="<%= actorsInfo[i].id %>"><%= `${actorsInfo[i].id} (${actorsInfo[i].name} ${actorsInfo[i].last_name})` %></option>
							<% } else { %>
								<option value="<%= actorsInfo[i].id %>"><%= `${actorsInfo[i].id} (${actorsInfo[i].name} ${actorsInfo[i].last_name})` %></option>
							<% } %>
						<% } %>
					</select>
				</div>
				<button type="submit" name="<%= operation %>" class="btn btn-success" align="center"><%= operation %></button>
			</form>
		</div>
	</body>